*.class
.idea
.idea_modules
target
*.iml
*.xml
*.zip
dist/
users/
doc/html/
devdoc/html/
Scalatron/lib/
Scalatron/out/
Scalatron/src/META-INF/
ScalatronCLI/out/
ScalatronCLI/lib/
ScalatronCLI/src/META-INF/
ScalaMarkdown/out/
ScalaMarkdown/src/META-INF/
__MACOSX
Scalatron/webui/tutorial
